# Requirements для YOLO Food Detection
# Автоматически сгенерировано

# ML/DL библиотеки
albumentations>=2.0.8
numpy>=2.3.1
ultralytics>=8.3.161

# GUI библиотеки
PyQt5>=5.15.11
opencv-python-headless
# Утилиты
Pillow>=11.2.1
pyyaml>=6.0.2
requests>=2.32.4
tqdm>=4.67.1

# Другие пакеты
YOLO_train
class_mapping
designer
fastjsonschema>=2.21.1
label_studio_ml
scikit-image>=0.25.2
video_processor
